<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585433136052-332rim0f5gc7mhh6ij3rfoq5002q36a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585433136052-332rim0f5gc7mhh6ij3rfoq5002q36a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDFpvdREix7LwYL0rcEehJ_KMK6099k1-k</string>
	<key>GCM_SENDER_ID</key>
	<string>585433136052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uwna.groupsettlement2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-df691</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-df691.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585433136052:ios:424923047750f6a4b190e1</string>
	<key>DATABASE_URL</key>
	<string>https://fir-df691-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>